@media screen and (min-width: 1921px) {
    section.hero-banner {
        aspect-ratio: unset;
        min-height: 700px;
    }

}

@media screen and (max-width: 1920px) {}

@media screen and (max-width: 1800px) {}

@media screen and (max-width: 1700px) {}

@media screen and (max-width: 1600px) {
    .vertical_slider {
        margin-right: -10%;
    }

}

@media screen and (max-width: 1440px) {

    .we_are_main {
        gap: 50px;
    }

    .vertical_slider {
        margin-right: -4%;
    }

    .vartical_card {
        padding: 42px 30px 42px 90px;
    }

    .hero_banner_title {
        margin-left: 6%;
    }
}

@media screen and (max-width: 1300px) {

    h1,
    .title_h1 {
        font-size: 102px;
    }

    h2,
    .title_h2 {
        font-size: 58px;
    }

    h3,
    .title_h3 {
        font-size: 52px;
    }

    .h2_big {
        font-size: 90px;
    }

    .counter_box {
        padding: 0px 50px;
    }

    .investment_content.gap_fourty {
        padding: 70px 85px;
    }

    .pad_both {
        padding: 100px 0px;
    }

    .portfolio_main,
    .news_insights_top {
        gap: 50px;
    }

    .pad_top {
        padding-top: 100px;
    }

    .ally_bridge_counter_box {
        padding: 190px 0px 120px;
    }

    .footer_left {
        width: 35%;
    }

    .footer_right {
        width: 12%;
    }
}

@media screen and (max-width: 1200px) {

    h1,
    .title_h1 {
        font-size: 96px;
    }

    h2,
    .title_h2 {
        font-size: 52px;
    }

    h3,
    .title_h3 {
        font-size: 46px;
    }

    h4,
    .title_h4 {
        font-size: 42px;
    }

    h5,
    .title_h5,
    .font_twenty_eight {
        font-size: 24px;
    }

    .header_main,
    .header_right {
        gap: 30px;
    }

    .header_menu ul {
        gap: 25px;
    }

    .hero_banner_title {
        margin-left: 4%;
        width: 80%;
    }

    .container {
        padding: 0px 40px;
    }

    .gap_fourty,
    .ally_bridge_main {
        gap: 30px;
    }

    .counter_box {
        padding: 0px 35px;
        gap: 35px;
    }

    .vartical_card {
        padding: 35px 25px 35px 70px;
    }

    .investment_content.gap_fourty {
        padding: 55px 70px;
    }

    .investment_content_top {
        gap: 20px;
    }

    .news_insights_btm {
        gap: 28px;
    }
}

@media screen and (max-width: 1024px) {
    .mobileIcon {
        height: 48px;
        width: 48px;
        display: flex;
        cursor: pointer;
        z-index: 100000;
        position: relative;
        align-items: center;
        justify-content: center;
        background: var(--blue);
        border-radius: 50%;
    }

    .mobileIcon span,
    .mobileIcon span::before,
    .mobileIcon span::after {
        content: "";
        width: 25px;
        height: 3px;
        background: var(--white);
        position: absolute;
        transition: all 0.3s ease;
    }

    .mobileIcon span::before {
        transform: translateY(-8px);
    }

    .mobileIcon span::after {
        transform: translateY(8px);
    }

    .menu-open .mobileIcon {
        background: transparent;
    }

    .menu-open .mobileIcon span {
        background: transparent;
    }

    .menu-open .mobileIcon span::before {
        transform: rotate(45deg);
        background: var(--red);
    }

    .menu-open .mobileIcon span::after {
        transform: rotate(-45deg);
        background: var(--red);
    }

    .header_right {
        position: fixed;
        inset: 0;
        height: 100vh;
        background: var(--light_blue);
        z-index: 99999;
        transform: translateX(100%);
        transition: all 0.4s ease-in-out;
        padding: 140px 30px;
        display: flex;
        flex-direction: column;
        gap: 40px;
        align-items: flex-start;
        overflow-y: auto;
        z-index: 1;
        overflow: hidden;
    }

    .menu-open .header_right {
        transform: translateX(0);
    }

    .header_menu ul {
        display: flex;
        flex-direction: column;
        gap: 35px;
    }

    .menu-open {
        overflow: hidden;
        height: 100vh;
    }

    .header_logo {
        position: relative;
        width: 10%;
        z-index: 2;
    }

    header.header {
        padding: 20px 0px;
    }

    .menu-scrolled header {
        padding: 12px 0px;
    }

    h1,
    .title_h1 {
        font-size: 88px;
    }

    .small_h5 {
        font-size: 20px;
    }

    .pad_both {
        padding: 80px 0px;
    }

    .pad_top {
        padding-top: 80px;
    }

    .we_are_main {
        gap: 40px;
    }

    .we_are_title {
        gap: 18px;
        width: 33%;
    }

    .investment_content.gap_fourty {
        padding: 40px 55px;
    }

    h3,
    .title_h3 {
        font-size: 42px;
    }

    .h2_big {
        font-size: 85px;
    }

    h4,
    .title_h4 {
        font-size: 36px;
    }

    h6,
    .title_h6 {
        font-size: 16px;
    }

    .big_p {
        font-size: 20px;
    }

    .counter_box .h2_big span {
        font-size: 40px;
    }

    .counter_box {
        padding: 0px 25px;
        gap: 25px;
    }

    .counter_box p {
        font-size: 18px;
        line-height: 22px;
    }

    .ally_bridge_counter_box {
        padding: 160px 0px 90px;
    }

    .footer_right ul li a {
        font-size: 16px;
        line-height: 20px;
    }

    .scroll_down span {
        font-size: 14px;
    }

    .scroll_down {
        bottom: 24px;
    }

    section.hero-banner {
        aspect-ratio: 16/11;
    }
}

@media screen and (max-width: 900px) {

    h2,
    .title_h2 {
        font-size: 46px;
    }

    .h2_big {
        font-size: 80px;
    }

    .small_h5 {
        font-size: 16px;
    }

    h3,
    .title_h3 {
        font-size: 36px;
    }

    .counter_box .h2_big span {
        font-size: 35px;
    }

    .ally_bridge_main {
        flex-direction: column;
        gap: 20px;
    }

    .ally_bridge_right.gap_fourty {
        width: 100%;
    }

    .pad_both {
        padding: 60px 0px;
    }

    .we_are_main {
        gap: 30px;
        flex-direction: column;
    }

    .we_are_title {
        width: 100%;
        margin-bottom: 0;
        padding: 0px 30px;
        top: unset;
    }

    .ally_bridge_counter_box {
        padding: 120px 0px 80px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 20px;
        justify-content: space-between;
    }

    .ally_bridge_counter .container,
    .we_are.pad_top .container {
        padding: unset;
    }

    .counter_box {
        width: unset;
    }

    .news_insights_btm {
        display: grid;
        grid-template-columns: repeat(2, auto);
    }

    .container {
        padding: 0px 30px;
    }

    .pad_top {
        padding-top: 60px;
    }

    .vertical_slider {
        margin-right: 0;
    }

    .vartical_card {
        margin-bottom: 0;
        padding: 35px 25px 35px 60px;
    }

    p {
        font-size: 18px;
    }

    .investment_main {
        flex-direction: column;
    }

    .investment_img {
        width: 100%;
    }

    .investment_content_top {
        gap: 12px;
    }

    .portfolio_main {
        gap: 35px;
    }

    .insights_desc {
        gap: 7px;
    }

    .footer_top {
        gap: 40px;
    }

    .footer_left {
        width: 40%;
    }

    .footer_patch {
        width: 36%;
    }

    .footer_right {
        width: 14%;
    }

    h1,
    .title_h1 {
        font-size: 80px;
    }

    section.invesment.pad_both {
        margin-top: -30px;
    }
}

@media screen and (max-width: 767px) {

    h2,
    .title_h2 {
        font-size: 40px;
    }

    h5,
    .title_h5,
    .font_twenty_eight {
        font-size: 20px;
    }

    .ally_bridge_title h2 {
        -webkit-text-stroke: unset;
    }

    .ally_bridge_counter::after {
        left: -10%;
    }

    .news_insights_top {
        flex-direction: column;
        gap: 20px;
    }

    .footer_top {
        gap: 30px;
        flex-direction: column;
        align-items: center;
        padding-bottom: 22px;
    }

    .footer_left {
        width: 100%;
    }

    .footer_patch {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .footer_right {
        width: 100%;
    }

    .footer_right ul {
        display: grid;
        grid-template-columns: auto auto auto;
        column-gap: 28px;
        row-gap: 12px;
    }

    section.hero-banner {
        aspect-ratio: 16 / 13;
    }

    .hero_banner_title {
        margin-left: 2%;
        width: 100%;
    }

    h1,
    .title_h1 {
        font-size: 70px;
    }

    .header_logo {
        width: 12%;
    }

    .header_right {
        padding: 80px 30px 80px 30px;
    }

    .header_menu ul li a {
        font-size: 18px;
        line-height: 22px;
    }

    .header_menu ul {
        gap: 25px;
    }
}

@media screen and (max-width: 600px) {

    h3,
    .title_h3 {
        font-size: 30px;
    }

    .news_insights_btm {
        grid-template-columns: repeat(1, auto);
        gap: 18px;
    }

    .ally_bridge_counter_box {
        grid-template-columns: repeat(1, 1fr);
        gap: unset;
    }

    .counter_box {
        padding: 25px 0px;
        border-right: none;
        border-bottom: 1px solid var(--white);
        max-width: 195px;
        margin: 0px auto;
        gap: 10px;
    }

    .counter_box:first-child {
        padding-top: 0;
    }

    .counter_box:last-child {
        padding-bottom: 0;
    }

    .footer_main {
        padding: 39px 0px 17px;
    }

    .copy_right {
        align-items: flex-start;
        gap: 0;
        padding-top: 0;
        flex-direction: column;
    }

    h4,
    .title_h4 {
        font-size: 28px;
    }

    .insights_desc .big_p {
        font-size: 17px;
        line-height: 27px;
    }

    .insights_desc .title_h6 {
        font-size: 12px;
    }

    .cmn_btn {
        font-size: 11px;
        line-height: 18px;
        padding: 9px 10px 9px 14px;
        min-width: 120px;
        gap: 16px;
    }

    .investment_main {
        border-radius: 5px;
    }

    .investment_content.gap_fourty {
        padding: 26px 30px;
    }

    section.hero-banner {
        aspect-ratio: 16 / 15;
        padding: 100px 0px 80px;
    }

    h1,
    .title_h1 {
        font-size: 58px;
    }

    header.header {
        padding: 16px 0px;
    }

    .menu-scrolled header {
        padding: 10px 0px;
    }

    .header_logo {
        width: 15%;
    }

    .ally_bridge_main {
        gap: 10px;
    }

    .ally_bridge_right_top {
        gap: 15px;
    }

    .vartical_card {
        padding: 30px 30px 40px 30px;
    }
}

@media screen and (max-width: 479px) {
    .footer_right ul li a {
        font-size: 12px;
        line-height: 15px;
    }

    .vartical_card {
        padding: 35px 25px 35px 40px;
    }

    p {
        font-size: 16px;
        line-height: 25px;
    }

    .header_logo {
        width: 18%;
    }

    section.hero-banner {
        aspect-ratio: 16 / 20;
        padding: 80px 0px 60px;
    }

    .hero_banner_title {
        margin-left: 0;
    }

    h1,
    .title_h1 {
        font-size: 44px;
    }

    .scroll_down span {
        font-size: 12px;
    }

    .scroll_down span svg {
        width: 15px;
        height: 8px;
    }

    .copy_right p,
    .copy_right a {
        font-size: 10px;
        line-height: 13px;
    }

    .pad_both {
        padding: 45px 0px;
    }

    h2,
    .title_h2 {
        font-size: 36px;
    }

    h5,
    .title_h5,
    .font_twenty_eight {
        font-size: 18px;
    }

    .small_p {
        font-size: 14px;
        line-height: 24px;
    }
}

@media screen and (max-width: 374px) {}